[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
black = "==19.10b0"
mypy = "*"
vulture = "*"
handsdown = "*"
"boto3_stubs[dynamodb,application-autoscaling]" = "*"

[packages]
dynamoquery = {path = ".",editable = true}

[pipenv]
allow_prereleases = true
